RewriteEngine On
DirectoryIndex page.tsx

# Only rewrite if the request is not a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.tsx [NC,L]